.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 5px 0;
  background: #fff;
  font-size: 22px;
  color: #a1a1a1;
  box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);
}
.NavBar a {
  color: inherit;
  text-decoration: none;
}
.NavBar .active {
  color: blue;
}


.a.NavBar {
  color: inherit;
  text-decoration: none;
}

.NavButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.NavButton .Icon {
  font-size: 20px;
}
.NavButton .Label {
  font-size: 12px;
  text-transform: capitalize;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}